@media screen and (max-width: 700px) {
    .contact{
        padding-bottom: 0rem;
    }
.form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100rem;
        flex-direction: column;
    }

    .contact .divs h2 {
    font-family: 'Merriweather',
            serif;
        font-size: 1.5em;
        color: black;    }

    .form-container form{
            background-color: black;
                width: 100%;
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                max-width: 100rem;
    }

    .maincontact{
            width: 100%;
                max-width: 100rem;
                background-image: url(./smiling-4654734_1280.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding-left: 0px;
    }
    .contact-container{
        padding-top: 4rem;
    }

        .contact-list li {
            margin-bottom: 10px;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
        }
    
}