/* Media query for a maximum width of 900px */
@media screen and (max-width: 990px) {

    .collapsible-container img {
        width: 25px;
        height: 25px;
        margin-right: 3px;
        margin-top: -1px;
        border-style: double;
        vertical-align: top;
        object-fit: cover;
        border-radius: 15px;
        border-color: deeppink;
    }

    header {
        position: fixed;
        top: 50px;
        width: 100%;
        background-color: #e3e3e3;
        
    }



    .links {
        display: none;
    }


    .navbar {
            display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 15px;
                padding-left: 1px;
    }




    .dropdown {
            display: block;
                position: relative;
                left: 5px;
                        cursor: pointer;
                        font-size: 20px;
               color: (3 3 3 / 79%);
                
    }






    .dropdown li:active {
        color: black;
    }


}


@media screen and (max-width: 800px) {

    .links {
        display: none;
    }


    .navbar {}
}

@media screen and (max-width: 500px) {

    .links {
        display: none;
    }


    .navbar {}

}

@media screen and (max-width: 400px) {

    .links {
        display: none;
    }


    .navbar {}



    .logo h1 {
        font-family: 'Sevillana', serif;
        font-weight: 700;
        letter-spacing: initial;
        font-size: 24px;
    }

    .dropdown button {
        background: none;
        border: none;
        vertical-align: inherit;
        cursor: pointer;
        font-size: 18px;
    }

    
}