/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.Navbar-cons {
  width: 100%;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);  }

main {
  font-family: 'Merriweather', serif;
  display: grid;
  place-items: center;
  background-color: white;
  width: 100%;
}


/* Navbar.css #544F4F */

header {
          position: fixed;
            top: 68px;
            width: 100%;
        background-color: #e3e3e3;
                    display: grid;
            z-index: 12;
            place-items: center;
            transition: top 0.3s ease;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 3px;
            padding-right: 3px;
}

.Navbar-con.scrolled {
  top: 0;
  transition: top 0.3s ease;
}

.navbar.scrolled {
  top: 0;
  transition: top 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100rem;
  transition: top 0.3s ease;
}



.links {
    display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      text-align: center;
      margin-right: -4rem;
}

ul {
  display: block;
}


li {
  cursor: pointer;
  transition: 1sm linear;
}

li a{color: black;
  text-decoration: none;
  font-size: 13.4px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 19px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  transition: backgroundcolor 2s ease-in-out;
}

 .Navlink {
    color: black;
      text-decoration: none;
      font-size: 13px;
      font-weight: 800;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      transition: transform 2s ease-in-out;
 
  }


li a:hover {
  background: #fdecefcf;}


.cart-container {
    position: relative;
      left: 13px;

}

.cart {
      color: rgb(3 3 3 / 79%);
        font-size: 20px;
        background: none;
        padding-left: 4px;
        padding-right: 6px;
    }

.cart:hover {
  color: black;
}

.cart-container span {
      
}




.logo{
  position: relative;
}

.logo img {
      position: absolute;
        max-width: 212px;
        top: -99px;
        left: -81px;
        object-fit: cover;
      
}

.dropdowncart {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: center;
  ;
}

.dropdown {
  display: none;
}



.dropdown button {
  background: none;
  border: none;
  vertical-align: inherit;
  cursor: pointer;
  font-size: 20px;
}


.dropdownmenu-container {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  z-index: 200;
  position: fixed;
  background-color: white;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: disappear 2s ease-in-out;
  bottom: 0;
  right: 0;
  display: none;
}

.dropdownmenu-container.appear {
  display: block;
}





.menu-div ol {
  display: flex;
  flex-direction: column;
}

.menu-div ol li {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  list-style: none;
  padding-right: 5px;
}

.menu-div ol li span {
    border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.222);
      border-bottom-width: 0.5px;
      padding-top: 3px;
}

.menu-div li a{
    color: black;
      font-size: 11px;
      font-weight: 700;
      text-decoration: none;
      transition: transform 0.2s ease-in-out;
      font-family: 'merriweather', sans-serif;
      letter-spacing: 0.5px;
      margin-left: -7px;
}

.menu-div .talktosalebtn {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}


.wigstationlogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.0rem;
}

.wigstationlogo .Cancelmenu {
  margin-right: 2rem;
}

.wigstationlogo .Cancelmenu button {
  background: none;
  border: none;
  vertical-align: inherit;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
}

.wigstationlogo div {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
}

.wigstationlogo div img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.wigstationlogo div h1 {
  font-family: 'Sevillana', serif;
  font-weight: 700;
  letter-spacing: initial;
  font-size: 30px;
  color: rgba(238, 36, 144, 0.849);}


.menu-div .talktosalebtn .hires {
  margin-top: 30px;
  background-color: purple;
  color: white;
  padding: 13px 30px;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  border-width: 0;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-family: 'Playfair Display', sans-serif;
}

.menu-div .talktosalebtn .hires:active {
  background-color: #3D5A5B;
  opacity: 0.9;
  cursor: pointer;
}

.menu-div .hires a {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 100rem;
  transition: top 0.3s ease;
}

.Navbar-login{
    margin-left: 1rem;
      display: flex;
      margin-top: 0rem;
    }

             
.Navbar-login .log{
      background-color: #ff1493d1;
        font-size: 13px;
        border: none;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        font-family: Playfair Display, sans-serif;
        opacity: 0.9;
        text-decoration: none;
        outline: none;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 70px;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }  

    .Navbar-login span {
          
    }


        .instagram {
    color: rgba(238, 36, 144, 0.849);
      font-size: 30px;
      margin-left: 34px;        }
      

        .collapsible-container img{
                width: 25px;
                  height: 25px;
                  margin-right: 20px;
                  margin-top: -1px;
                  border-style: double;
                  vertical-align: top;
                  object-fit: cover;
                  border-radius: 15px;
                  border-color: deeppink;
        }

        .collapsible-container{
           position: relative;
            font-size: 20px; 
            color: rgb(3 3 3 / 79%);}

        .collapsible-container .profile{
          position: absolute;
        }

      .create-account, .create-con{
    background-color: #ff1493d1;
      font-size: 13px;
      border: none;
      border-radius: 30px;
      color: white;
      cursor: pointer;
      font-family: Playfair Display, sans-serif;
      opacity: 0.9;
      text-decoration: none;
      outline: none;
      text-align: center;
      padding-top: 14px;
      padding-bottom: 14px;
      width: 70px;
      margin: 0;
      margin-bottom: 20px;
      margin-top: 20px;    
    
    }
        