.reset-password,
.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: purple;
}

.signup-con{
    display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
}

.signup-details{
    background-color: white;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
}


.signup-details h2{
        font-family: 'Merriweather', serif;
            padding-top: 2rem;
            padding-bottom: 1rem;
            text-align: center;
            text-shadow: 1px 0px 0px rgb(0 0 0 / 84%);
}

  .password-input-container .fakey{
        position: absolute;
            left: 8px;
            left: 7px;
            top: 20px;
            color: black;
            opacity: 0.6;
            font-size: 12px;
}

.registercontainers {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.registercontainers p {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registercontainers p a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.success-message{
    margin-top: 2rem;
}

.error-message{
    color: red;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13px;
        padding-left: 2px;
        margin-top: 5px;}

.error-con{
    background-color: red;
        position: relative;
        z-index: 100;}

.error-con div p{
    color: black;
}