.linkdiv{
    display: flex;
        justify-content: space-evenly;
        padding-bottom: 3rem;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 1.4rem;
}

.aboutwigwonderland ul{
    list-style: none;
    display: inline-block;
}


.buyinstruction ul h3, .Account ul h3, .aboutwigwonderland ul h3{
        font-size: 14px;
            margin-bottom: -15px;
}



.buyinstruction ul li,
.Account ul li, .buyinstruction ul li {
    font-size: 15px;
    margin-top: 10px;
}

 .aboutwigwonderland ul li {
     font-size: 15px;
     margin-top: 10px;
 }
 span{
    display: block;
        font-size: 24px; }

 span a {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 400;
        text-decoration: none;
        line-height: 1.7em;
        color: #352626;
        margin-top: 2px;}

        .aboutus, .privacyolicy, .Customerus{
        padding-top: -1rem;
            background: white;
            display: grid;
            place-items: center;
        }

        .aboutcontent, .privacycontent, .Customercontent{
    display: flex;
        max-width: 100rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;}
       
    .aboutimg img, .privacyimg img, .customerimg img{
        width: 100%;
    }


   .aboutcontent h2, .privacycontent h2, .Customercontent h2{
    margin-top: -9rem;
        margin-bottom: 2rem;
        font-size: 2em;
        color: #3d3d3d;
    }

.paradiv{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.paradiv p{
        padding-top: 10px;
        padding-bottom: 20px;
            font-size: medium;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.paradiv ul{
   margin-top: -1rem;
    padding-bottom: 2rem;
    padding-left: 15px;
        padding-right: 15px;
}

.paradiv ul li{
    padding-top: 20px;
}



@media screen and (max-width: 622px){
    .linkdiv {
        display: flex;
            justify-content: space-evenly;
            padding-bottom: 3rem;
            align-items: center;
            flex-direction: column;
            padding-top: 1.4rem;
           
        }

                                .buyinstruction ul,
                                .Account ul {
                                    margin-top: 4rem;
                                        list-style: none;
                                        text-align: center;
                                }
        .aboutwigwonderland ul {
            list-style: none;
            display: inline-block;
            text-align: center;
        }
}